rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /projects/{projectId} {
      allow read, create, update, delete: if isSignedIn();
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create, update: if isSignedIn() && request.auth.uid == userId;
      allow delete: if isSignedIn() && request.auth.token.email.lower() == 'kianoshsolheim@gmail.com';
    }
  }
}
